# Dependencies
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build output
dist
dist-ssr
build
.next
out
*.tsbuildinfo

# Cache
.cache
.npm
.eslintcache
.vite
.stylelintcache

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
coverage
*.test.js
*.spec.js
*.test.ts
*.spec.ts

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Misc
*.log
*.min.js
*.min.css
public
*.tgz
.yarn-integrity 